.container {
  padding: 10px;
 display: grid;
 grid-template-columns: 1fr min(100%, 500px) 1fr;
 grid-template-rows: auto;
}

.content {
  grid-column: 2 / 3;
  grid-row: auto;

  color: white;
}

.inputGroup {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.inputGroup label{
  font-size: 3rem;
  color: gray;
}

.inputGroup input {
  width: 150px;
  font-size: 3rem;
  color: white;
  background-color: black;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 auto;
}

.startStop {
  font-size: 3rem;
  margin: 0 auto 100px auto;
  display: block;

  text-align: center;
  width: 150px;
  color: gray;
  background-color: transparent;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;

  transition: all 50ms ease-in-out;
}

.startStop:hover {
  color: white;
  border-color: white;
}
